/* contacto.css */

.contenedor-contacto {
  max-width: 1000px;
  margin: 40px auto;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contacto-map{

  border-radius: 20px;
  overflow: hidden;

}
.contenedor-informacion-de-contacto {
  margin-bottom: 20px;
}
.contacto-texto{
  display: flex;
  align-items: center;
  gap: 7px;
}
.informacion-de-contacto {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.contenedor-texto-contacto{
  padding: 20px;
  width: 40%;
}

.informacion-de-contacto h2 {
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.informacion-de-contacto ul {
  list-style: none;
  padding: 0;
  margin: 0;

}

.informacion-de-contacto li {
  margin-bottom: 10px;
}

.informacion-de-contacto span {
  font-weight: bold;
  margin-right: 10px;
}

.informacion-de-contacto p {
  margin-bottom: 10px;
}

.telefono-estatico, .email-estatico {
  font-size: 1.5rem;
  color: #337ab7;
}

.contenedor-horarios-de-atencion {
  margin-top: 20px;
}

.horarios-de-atencion {
  padding: 20px;
}

.horarios-de-atencion h2 {
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.boton-horarios {
  background-color: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.boton-horarios:hover {
  background-color: #23527c;
}

.lista-horarios {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;

}

.lista-horarios.mostrar-horarios {
  max-height: 100px;
  overflow: visible; 
}
.alinear-contacto{
  display: flex;
  align-items: center;
}
.contacto-mail-btn{
  outline: none;
  border: none;
  padding: 20px;
  background-color: #337ab7;
  border: 3px solid #337ab7 ;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.contacto-mail-btn:hover{
  background-color: #0e4d84;
}

.contacto-mail-btn:active{
  border: 3px solid #0e4d84 ;
}

.ul-horarios-contacto{
  font-size: 25px;
  gap: 20px;
  text-align: center;
}
.contenedor-horarios-contacto{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contenedor-horarios-contacto h2{
      width: 100%;
}

.mapboxgl-map{
  
  border-radius: 50%;


}

.informacion-de-contacto{
  border-bottom: 2px solid black;
  padding: 60px 0px;
}

.contenedor-texto-contacto h2{
  text-align: initial;
}
.contenedor-horarios-contacto{
  padding: 60px;
}

@media screen and (max-width: 750px) {

  .contenedor-texto-contacto{

    width: 100%;
    text-align: center;

  }
  .alinear-contacto{
    justify-content: center;
  }
  .contenedor-texto-contacto h2{
    text-align: center;
  }
  .mapboxgl-map{
  
    border-radius: 15%;

  }
}

.contenedor-redes{
  border-top: 2px solid black;
  width: 100%;
}
.contacto-redes-ul{

  display: flex;
  justify-content: center;
  padding: 20px 0px;

}
.contacto-redes-li{
  list-style: none;
}
.contacto-redes-icon:hover{

  font-size: 55px;
  transition: font-size 0.3s ease ;

}
.contacto-redes-icon{
  font-size: 50px;
}
.facebook-contacto{
  color: #4267B2;
}
.whatsapp-contacto{
  color: #25D366;
}
.linkedin-contacto{
  color: #0e76a8;
}
.github-contacto{
  color: #333;
}

.instagram-contacto{

  animation: instagramAnimationCon 3s linear infinite;

}

@keyframes instagramAnimationCon {
  
  
  0%{
      opacity: 1;
      color: #405DE6;

  }
  35%{
      color: #833AB4;
  }
  80%{
      color: #e22262;
  }
  95%{
      color: #FD1D1D;
  }
  100%{
      opacity: 1;
      color: #405DE6;
  }


}

/* estilo formulario correo */

form {
  max-width: 600px;
  margin: 0;
  padding: 20px;

}


label {
  display: block;
  font-size: 1rem;
  margin-bottom: 8px;
  color: #333;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #fff;
}

textarea {
  resize: vertical;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: var(--color-secundario-brillante);
  outline: none;
}

input[type="submit"], button {
  cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    padding: 10px;
    background-color: #337ab7;
    color: white;
    border: 2px solid #337ab7;
    border-radius: 10px;
}

input[type="submit"]:hover, button:hover {
  background-color: #225b8d;
  border: #225b8d 2px solid;
  transition: background-color .5s ease;
}

@media (max-width: 768px) {
  form {
      padding: 10px;
  }

  h1 {
      font-size: 1.5rem;
  }

  input[type="submit"] {
      font-size: 1.1rem;
  }
}