.flex-aling-center h2{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    line-height:2rem;
}

.inImg{
    position: absolute;
    z-index: -100;
    object-fit: cover;
}

.contInicio{
    position:relative;
    overflow: hidden;
    height:fit-content;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 150px;
    color: var(--color-primario-claro);
    /* background-image: url("https://i.postimg.cc/d1rtVT8b/homeImg.webp"); */
    background-image: url("../../imagenes/imagenes/instalaciones/instalaciones1.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: fill;
    z-index: -100;
}
.textInicio h1{
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 30px;
}
.textInicio h2{
    font-size: 2.5rem;
    line-height: 3rem;
    margin-top: 30px;
    margin-bottom: 30px;
}

.textInicio p{
    font-size: 20pt;
}
.gradient{
    background: linear-gradient( rgb(16, 21, 24, .5), 60%, transparent);
    width: 100%;
    z-index: -50;
    height: 1000px;
    position: absolute;
    top: 0;
}
.inImgOla{
    position: absolute;
    bottom: 0;
    width: 101%;
    left: 0;
}

.textoBlanco{
    color: white !important; 
}


.contNosotros{
    margin: 2rem;
    padding: 2rem;
}

.contNosotros .wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.contNosotros .wrapper .contTexto {
    flex: 1;
    padding: 1rem;
    max-width: 600px;

}

.contNosotros .wrapper .contTexto p{
    text-align: justify;
}

.contNosotros .wrapper .contImg {
    padding: 1rem;
    position: relative;
    width: fit-content;
    max-width: 600px;

}

.contNosotros .wrapper .contImg img {
    width: 500px;
    height: fit-content;
    border-radius: 100%;
    border: 1px solid rgb(0, 0, 0,.1);
}

@media (max-width: 768px) {
    .contNosotros .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .contNosotros .wrapper .contTexto,
    .contNosotros .wrapper .contImg {
        max-width: 100%;
    }
}

.contObjetivos .contenedor-sec-main .text-sec-main .cont-list{
    overflow: hidden;
    height: fit-content;
}

.contEspecialidades .wrapper {
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 2rem;
    width: 60%;
    font-size: 1.5rem;
}

.contEspecialidades{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.contEspecialidades .wrapper div {
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .5s ease-in-out;

    font-size: 150%;
}

.info {
    grid-column: 1 / 4;
    background: var(--color-secundario-opaco);
}
.quimica {
    grid-column: 4 / 5;
    background: var(--color-secundario-acromatico);
}
.mmo {
    grid-column: 1 / 2;
    background: var(--color-primario-oscuro);
}
.electro {
    grid-column: 2 / 5;
    background: #4a83ac;

}


@keyframes aniacionInfo {
    
    from{
        background-color: transparent;
        background-image: url("../../public/imagenes/bg_info.webp");
        opacity: 0;
    }to{
        opacity: 1;
        background-image: url("../../public/imagenes/bg_info.webp");
        background-color: transparent;

    }
    
}

@keyframes aniacionElectro {
    
    from{
        background-image: url("../../public/imagenes/electrobanner.webp");
        background-color: transparent;
        opacity: 0;
    }to{
        opacity: 1;
        background-image: url("../../public/imagenes/electrobanner.webp");
        background-color: transparent;

    }
    
}
@keyframes aniacionQuimica {
    
    from{
        background-image: url("../../public/imagenes/bg-quimica.webp");
        background-color: transparent;
        opacity: 0;
    }to{
        opacity: 1;
        background-image: url("../../public/imagenes/bg-quimica.webp");
        background-color: transparent;

    }
    
}

@keyframes aniacionMmo {
    
    from{
        background-image: url("../../public/imagenes/bg_mmo.webp");
        background-color: transparent;
        opacity: 0;
    }to{
        opacity: 1;
        background-image: url("../../public/imagenes/bg_mmo.webp");
        background-color: transparent;

    }
    
}

.contEspecialidades .wrapper .info:hover {
    animation: aniacionInfo 0.5s ease forwards;
}
.contEspecialidades .wrapper .quimica:hover {
    animation: aniacionQuimica 0.5s ease forwards;
}
.contEspecialidades .wrapper .mmo:hover {
    animation: aniacionMmo 0.5s ease forwards;
}
.contEspecialidades .wrapper .electro:hover {
    animation: aniacionElectro 0.5s ease forwards;
}



@media screen and (max-width: 900px) {
    .contEspecialidades .wrapper {
        grid-template-columns: 1fr;
        font-size: initial;
        width: 80%;
        height: max-content;
    }



}

@media screen and (max-width: 500px) {
    .textInicio h1{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .textInicio h2{
        font-size: 1.25rem;
        line-height: 1.5rem;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .textInicio p{
        font-size: 15pt;
    }

    .contNosotros .wrapper .contTexto {
        padding: 0;
    
    }

.contNosotros .wrapper .contImg img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin-top: 20px;
}
.contNosotros .wrapper .contImg{
    padding: 0px;
}
    .textoBlanco{
        font-size: 0.7rem;
    }


}

.animation3{

    animation: animation3 1s ease forwards;
    line-height: 1rem;

}

.animation2{
    animation: animation2 1s ease forwards;
}

@keyframes animation2 {

    from{

        transform: translateY(-20px);
        opacity: 0;

    }to{

        transform: translateY(0px);
        opacity: 1;

    }
}



@keyframes animation3 {
    
    from{

        transform: translateY(20px);
        opacity: 0;

    }to{

        transform: translateY(0px);
        opacity: 1;

    }

}
.alinear{


    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.contCarrousel{

    padding: 2vw;
    width: 80vw;
    height: min-content;

}

h2{
    line-height: 100px;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
}

