.esp-nav{

    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1000;

}
.esp-ul-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.esp-contenedor-nav{
    width: 60%;
}
.esp-li-nav div{
    display: flex;
    align-items: center;
}
.esp-li-nav{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--color-primario-oscuro);
    border-right: 2px solid var(--color-primario-oscuro);
    cursor: pointer;
    animation: shrink 1s ease forwards;
    background-color: white;

}
.esp-li-nav:hover{
    background-color: rgb(179, 179, 179);
}
#a0{

    border-left: 2px solid var(--color-primario-oscuro);

}
@keyframes shrink {
    from {
        width: 61.8%; 
    }
    to {
        width: 3%;
    }
}

@keyframes expandWidth {
    0% {
        width: 3%;
    }
    100% {
        width: 61.8%;
    }
}

.esp-active{
    animation: expandWidth 0.5s ease forwards;
    justify-content: left;
    color: var(--color-secundario-opaco);
}
.esp-active .esp-nav-icon{
    
    margin: 0px;
    padding: 0px;
    margin-right: 10px;
}

.video-esp-main{

    display: flex;
    justify-content: center;
    margin: 100px 5px;

}
.video-esp{
    width: 60vw;
    height: 35vw;
}

.flex-aling-center button{

    color: var(--color-primario-oscuro);
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.375rem;
    text-decoration: underline;
    font-size: 22px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;

}

.flex-aling-center button:hover{
    text-decoration: underline;

}

.cont-list{
    width: 80%;
    height: 280px;
}

@keyframes expandEspText {
    0%{
        width: 61.8%;
        height: 600px;
    }
    100%{
        width: 100%;
        min-height: 600px;
        height: auto;
    }
}
@keyframes shrinkEspTitulo {
    0%{
        width: 38.2%;
        height: 600px;    
    }
    100%{
        width: 0%;
        overflow: hidden;
    }
}

@keyframes shrinkEspText {
    0%{

        width: 100%;
        min-height: 600px;
        max-height: max-content;
    }
    100%{
        width: 61.8%;
        height: 600px;
    }
}
@keyframes expandEspTitulo {
    0%{
        width: 0%;
        overflow: hidden;
    }
    100%{

        width: 38.2%;
        height: 600px;    
    }
}


.text-esp-main.active2{

    animation: expandEspText 1s forwards ease;

}

.titulo-esp-main.active2{
    
    animation: shrinkEspTitulo 1s forwards ease;

}

.active2 .cont-list{
    width: 100%;
    height: auto;
}

.titulo-esp-main{
    animation: expandEspTitulo 1s forwards ease;
}
.text-esp-main{
    animation: shrinkEspText 1s forwards ease;
}

@keyframes verMenos {

    0%{
        opacity: 0;

    }
    100%{
        opacity: 1;
    }
    
}

.ver-menos{

    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.375rem;
    text-decoration: underline;
    cursor: pointer;
    animation: verMenos 2s ease forwards;

}

.contenedor-carrusel-esp{
    border-radius: .5rem;
    padding: 4rem;
    width: 100%;
    margin-bottom: 50px;
}

.contenedor-carrusel-esp:hover{

     background-color: rgba(214, 214, 214, 0.25);

}

@media screen and (max-width:900px) {
    .esp-nav-text{
        display: none;
    }

    .esp-active{
       animation: shrink 0.1s;
    }
    .esp-active .esp-nav-icon{

        margin-right: 0px;
    }
    .contenedor-carrusel-esp{
        width: 100vw;
        padding: 0px;
    }
    .cont-list{
        height: auto;
    }
    .video-esp{
        width: 100vw;
        height: 55vw;
    }
    
}
