.list-img-cont{
    margin-right: 30px;
}
.list-img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.list-li-text{
    font-size: 1.3rem;
    border-left: 1px solid white;
    padding-left: 20px;
}
.list-li-text span{
    font-size: 0.8rem;
    color: rgb(189, 189, 189);

}
.list-li{
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 40%;
    text-align: left;
}
.mostrarMas{
    background-color: transparent;
    font-size: 40px;
    color: var(--color-secundario-brillante);
    cursor: pointer;
    padding: 5px;
    outline: none;
    border: none;
}

.list-ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.cont-list{
    width: 80%;
    overflow-y: scroll;
}

@media screen and (max-width:600px) {

    .cont-list{
        width: 100%;
        height: fit-content;
        overflow-y: initial;
    }
    .list-ul{
        display: initial;
    }

}
