.navbar-pc{
    text-align: center;
    width: 100%;
    background-color: var(--color-primario-oscuro);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: sticky;
}
.contenedor-imagen{
    width: 50%;
    padding-left: 50px;
    display: flex;
    align-items: center;
}
.contImg{

    width: 75px;
    height: auto;
    margin: 5px;
}
.contImg img{
    width: 100%;
    height: auto;
}

.navbar-pc-ul{

    display: flex;
    align-items: center;
    justify-content: end;
}
.navbar-pc-li{
    color: white;
    list-style: none;
    padding: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.navbar-pc-li:hover{
    background-color: var(--color-secundario-acromatico);
}
.contenedor-navbar-mb{
    display: none;

}
.navbar-mb-ul{
    display: none;     
    background-color: #393939;
    z-index: 100000;
}

@keyframes expandNav {
    0%{
        height: 0px;
    }
    100%{
        height: 295px;
        opacity: 1;
    }
    
}

@media screen and (max-width: 750px) {

    .contenedor-navbar{
        display: none;
    }
    .contenedor-navbar-mb{
        display: flex;
        justify-content: end;
        width: 50%;
        padding-right: 20px;
       
    }
    .navbar-mb-btn{
        cursor: pointer;
        background-color: transparent;
        color: white;
        border:none;
    }
    .nv-active{
        display: block;
        text-align: right;
        width: fit-content;
        position: absolute;
        right: 0;
        animation: expandNav 0.7s ease forwards;
        overflow-y: hidden;
    }
    .navbar-mb-li{
        color: white;
        list-style: none;
        padding: 20px 50px;
        text-align: center;
    }
    .navbar-mb-li:active{
        background-color: var(--color-primario-oscuro);
    }
    .contenedor-imagen{
        padding-left: 10px;
    }
}