.Collage {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
	align-items: center;
	gap: 20px;
	padding: 20px;
	box-sizing: border-box;

	width: 100%;
	height: 100%;
}

.Collage img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.limitado {
	grid-auto-rows: 1fr;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

@media screen and (max-width: 900px) {
	.limitado {
		grid-auto-rows: 100px;
	}
}

.limitado img:last-child {
	grid-column: span 2;
}