.footer_contenedor{
    background-color: var(--color-primario-oscuro) ;
    color: var(--color-primario-claro);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
}

.footer_main_img img{
    width: 40%;
    height: auto;
}

.footer_main_img{
    width: 38.2%;
    text-align: center;
}
.footer_main_p{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 61.8%;
    font-size: 2rem;
    border-top: 2px solid white;
    padding: 20px;
    border-bottom: 2px solid white;
}
.footer_bott{
    background-color: rgb(0, 0, 0) ;
    color: var(--color-primario-claro);
    padding: 20px;
    text-align: center;
    font-size: 1.7rem;
}

.footer_bott p{
    padding: 10px;
    font-size: 1rem;
}

@media screen and (max-width: 500px){
    .footer_main_p{
        font-size:1.3rem;
    }
    .footer_bott{
        font-size: 1rem;
    }
}